<!doctype html>
<html>
    <head>
        <title>AdminLoggedin Page </title>
    </head>
    <body style="align:center">
        <h1 style="align:center;color:red"> Available books in Anna Centurary </h1>
<table style="align:center">
    <tr> <th> <form action="/newadmin"> <button>New Admin</button> </form> </th>
        <th> <form action="/uploadbook"> <button>Upload Book</button> </form> </th> 
        <th> <form action="/deletebook"> <button>Delete Book</button> </form> </th>
        <th> <form action="/availablebook"> <button>Available Book</button> </form> </th>
         </tr> 
    </table>
    
    <form action="/adminlogin">
        <button> Back </button>
    </form>
</body>
    </html>