<!doctype html>
<html>
    <head>
        <title>Signin Page </title>
    </head>
    <body style="align:center">
        <table style="margin-left:150px;padding-top:50px">
    <form  action="/signin" method="POST">
        <tr>
   <td> <label for="username">Username </label>          </td>   
   <td> <input type="text" id="username" name="username"></td>
        </tr>
        <tr>
            <td> <label for="password">Password </label>          </td>   
            <td> <input type="text" id="password" name="password"></td>
         </tr>
        <tr > 
            <td colspan="2"> <button>Submit  </td>
        </tr>
    </form>
    <tr>
        <td><form action="/">
            <button> Back </button>
        </form>
    </tr>
</table>
    
    </body>
    </html>