<!doctype html>
<html>
    <head>
        <title>Upload Book Page </title>
    </head>
    <body>
        <h1 style="text-align:center"> Enter New Book Details </h1>
        <table style="text-align:center;padding-top:10px">
    <form action="/uploadbook" method="POST">
        <tr>
   <td> <label for="bookname">Book Name </label>          </td>   
   <td> <input type="text" id="bookname" name="bookname"></td>
        </tr>
        <tr>
            <td> <label for="authorname">Author Name </label>          </td>   
            <td> <input type="text" id="authorname" name="authorname"></td>
         </tr>
        <tr> 
            <td colspan="2"> <button>Upload  </td>
        </tr>
    </form>
</table>

   </body>
    </html>