<!doctype html>
<html>
    <head>
        <title>UserLogin Page </title>
    </head>
    <body>
        <h1 style="text-align:center"> Enter ur Login Details </h1>
        <table style="text-align:center;padding-top:10px">
    <form action="/userlogin" method="POST">
        <tr>
   <td> <label for="username">Username </label>          </td>   
   <td> <input type="text" id="username" name="username"></td>
        </tr>
        <tr>
            <td> <label for="password">Password </label>          </td>   
            <td> <input type="text" id="password" name="password"></td>
         </tr>
        <tr > 
            <td colspan="2"> <button>Submit  </td>
        </tr>
    </form>
</table>
<form action="/login">
    <button> Back </button>
</form>
    </body>
    </html>